@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

.red-title {
	backbround-color: #000;
	color: red;
	padding: 15px;
	border: 5px solid red;
	text-align: center;
	margin-top: 4em;
	margin-right: 4em;
	margin-left: 4em;
	text-transform: uppercase;
}

.title {
	backbround-color: #000;
	color: #fff;
	align-text: center;
}

.new-title {
	backbround-color: #000;
	color: yellow;
	padding: 20px;
	border: 7px solid yellow;
	text-align: center;
	margin-top: 4em;
	margin-right: 4em;
	margin-left: 4em;
	text-transform: uppercase;
	text-shadow: 2px 1px;
	font-weight: bold;
}

.title-prime {
	backbround-color: #000;
	color: lightblue;
	padding: 20px;
	border: 7px solid lightblue;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
}
